<div class="sidebar">
    
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        <h2>Join hundreds of developers, get exclusive contents and with priority.</h2>
        {% include newsletter.html %}
    </div>
        
    <div class="sidebar-section">
        <h5><span>Resources</span></h5>
        <ul style="list-none;">
            {% for item in site.resources %}
            {% assign resource = item[1] %}
            <li><a target="_blank" href="{{ resource.link }}">{{ resource.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
        
    <div class="sidebar-section">
        <h5><span>Recommended</span></h5>
        <ul style="list-none;">
            {% for item in site.partners %}
            {% assign resource = item[1] %}
            <li><a target="_blank" href="{{ resource.link }}">{{ resource.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>